
.card img{
    height:12rem;
}
.card{
    height: 400px;
}
.btnPosition{
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    width: 100%;
    letter-spacing: 4px;
}
